.column {
    float: left;
    width: 48%;
    margin: 1%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align:center;
}

h3 {
    text-align:center;
}

img {
    max-height: 1em;
}